.tourist-places-img{
 height: 180px;
 width: 170px;
}
.tourist-places-primary-heading{
 margin-top: 50px;
 font-size: 2rem;
}
.tourist-places-sub-heading{
 margin-bottom: 30px;
 font-size: 1.5rem;
}
.tourist-places-secondary-heading{
 font-size: 1rem;
 margin-top: 25px;
}
.tourist-places-text{
 font-size: 0.8rem;
 text-indent: 4rem;
 text-align: justify;
}
.tourist-places-marginbottom{
 margin-bottom: 25px;
}
.tourist-places-Chennai2-img{
 height: 165px; 
 width: 170px;
}
.tourist-places-Chennai3-img{
 height: 165px; 
 width: 170px;
}
.tourist-places-Chennai4-img{
 height: 165px; 
 width: 170px;
}
.tourist-places-rameswaram2-img{
 height: 155px;
 width: 170px;
}
.tourist-places-rameswaram4-img{
 height: 155px;
 width: 170px;
}
.tourist-places-Kodaikanal1-img{
 height: 145px; 
 width: 170px;  
}
.tourist-places-Kodaikanal2-img{
 height: 145px; 
 width: 170px;  
}
.tourist-places-Kodaikanal3-img{
 height: 145px; 
 width: 170px;  
}
.tourist-places-Kodaikanal4-img{
 height: 155px; 
 width: 170px; 
 margin-top: 5px; 
}
.tourist-places-Ooty1-img{
 height: 145px; 
 width: 170px; 
 margin-top: 5px;
}
.tourist-places-Ooty2-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px;
}
.tourist-places-Ooty3-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px;
}
.tourist-places-Ooty4-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px;
}
.tourist-places-Kanyakumari1-img{
 height: 150px; 
 width: 170px; 
 margin-top: 10px;
}
.tourist-places-Kanyakumari2-img{
 height: 150px; 
 width: 170px; 
 margin-top: 10px;
}
.tourist-places-Kanyakumari4-img{
 height: 150px; 
 width: 170px; 
 margin-top: 10px;
}
.tourist-places-Kumbakonam1-img{
 height: 150px; 
 width: 170px; 
 margin-top: 10px;
}
.tourist-places-Kumbakonam3-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px;
}
.tourist-places-madurai2-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px;  
}
.tourist-places-madurai4-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px;  
}
.tourist-places-Yarcaud1-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px; 
}
.tourist-places-Yarcaud2-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px; 
}
.tourist-places-Yarcaud3-img{
 height: 150px; 
 width: 170px; 
 margin-top: 10px; 
}
.tourist-places-Yarcaud4-img{
 height: 150px; 
 width: 170px; 
 margin-top: 10px; 
}
.tourist-places-Theni1-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px; 
}
.tourist-places-Theni2-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px; 
}
.tourist-places-Theni3-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px; 
}
.tourist-places-Theni4-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px; 
}
.tourist-places-Hogenkkal2-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px; 
}
.tourist-places-Hogenkkal3-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px; 
}
.tourist-places-Hogenkkal4-img{
 height: 160px; 
 width: 170px; 
 margin-top: 10px; 
}